{% extends "layouts/main.html" %}

{% block pageTitle %}
    Get started - Return equipment - {{ serviceName }} - GOV.UK
{% endblock %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Return your juggling equipment</h1>

            <p class="govuk-body-l">Use this service to return your government issued juggling equipment.</p>

            {{ govukButton({
                text: "Start now",
                href: "page1.html",
                isStartButton: true
            }) }}

            {% include "includes/details-not-finished.html" %}

        </div>
    </div>
{% endblock %}